.body{
    background: url(https://i.pinimg.com/originals/8e/6a/3a/8e6a3abf307278f940c02072d8ae46e8.jpg) fixed;
    background-size: cover;
}
.container1 {
    position: relative;
    background: none;
    top: 100px;
    height: 550px;
}

.container2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
}
.container3 {
    padding-left: 20%;
    padding-top: 30px;
    height: 400px;
}
.container3-left {
    width: 25%;
    height: 400px;
    float: left;
}
.container3-center {
    width: 25%;
    height: 400px;
    float: left;
}
.container3-right {
    width: 25%;
    height: 400px;
    float: left;
}
.container4 {
    height: 200px;
}

.container-2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

.container-3 {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}
