/* @media (max-width: 720px) {
    .login-page{
        background-image: url(https://wallpaperaccess.com/full/5451911.jpg);
    }
}

@media (max-width: 1080px) {
     
} */

.login-page{
    background-image: url(https://i.pinimg.com/originals/8e/6a/3a/8e6a3abf307278f940c02072d8ae46e8.jpg);
}   

.container-fluid{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 20px 25px;
    width: 300px;

    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.container-fluid h1{
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
    text-transform: capitalize;
    border-bottom: 4px solid #f33f3f;
}

.container-fluid label{
    text-align: left;
    color: #000000;
}

.container-fluid form input{
    width: calc(100% - 20px);
    padding: 8px 10px;
    margin-bottom: 15px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #f33f3f;
    color: #000000;
    font-size: 15px;
}

.container-fluid form button{
    width: 100%;
    padding: 5px 0;
    border: none;
    background-color:#f33f3f;
    font-size: 18px;
    color: #000000;
}